{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userquiz_monitor/attemptpagenavigation

    Template which simplifies navigation pseudo-block in quiz screens

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}
<!-- block_userquiz_monitor/attemptpagenavigation -->

<div id="userquiz-monitor-submitbtns">
    {{#label}}
    <div class="submitbtns-left">
        <a href="{{{finishurl}}}" class="btn btn-default" title="{{label}}">{{{label}}}
            <span aria-hidden="true" class="fa-fw fa fa-sign-in"></span></a>
    </div>

    <div class="submitbtns-right">
    {{/label}}
    {{^label}}
    <div class="submitbtns-center">
    {{/label}}

{{#isnotfirstpage}}
        <input  type="submit" name="previous" value="{{navigatepreviousstr}}" class="mod_quiz-prev-nav" />
{{/isnotfirstpage}}

        <input type="submit" name="next" value="{{nextlabelstr}}" class="mod_quiz-next-nav" />
    </div>
</div>
<!-- /block_userquiz_monitor/attemptpagenavigation -->