

<!-- attemptpage -->
{{{header}}}

{{{quiznotices}}}

{{{countdowntimer}}}

<div class="narrow-screen">
    <div class="question-num">
        {{{question}}}
        {{{questionnum}}}
    </div>

    {{{quizprogressindicator}}}
    {{{questionrefs}}}
</div>

{{{quizcountdown}}}
{{{attemptform}}}

{{{footer}}}
<!-- /attemptpage -->
