{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userquiz_monitor/availableattempts

    Template displaying the examination available attempts report.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}
<!-- availableattempts -->
<div class="available-attempts-container trans100">

    <table class="available-attempts">

{{#hasusedattempts}}

{{#usedattempts}}
        <tr valign="middle">

            <td class="exam-history-attempt">
                {{{attemptsstr}}} {{{finishdate}}}<br/>
                {{{passingstr}}}
                <img src="{{{iconurl}}}" />
            </td>

            <td class="detail-container">
                <a href="{{{usedurl}}}">{{{detailbutton}}}</a>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                {{{totalgraph}}}
            </td>
        </tr>
{{/usedattempts}}

{{#printellipse}}
        <tr valign="top">
            <td>...</td>
            <td><img src="{{{ellipseiconurl}}}" /></td>
            <td></td>
        </tr>
{{/printellipse}}

{{/hasusedattempts}}

{{^hasusedattempts}}
        <tr>
            <td colspan="3">{{{nousedattemptsstr}}}</td>
        </tr>
{{/hasusedattempts}}

{{^limitsenabled}}
        <tr valign="top">
            <td>
                {{attemptstr}} {{availablestr}}
            </td>
            <td>
                <img src="{{{availableiconurl}}}" />
            </td>
            <td>
            </td>
        </tr>
{{/limitsenabled}}

{{#limitsenabled}}
{{#availables}}
        {{! Loop untill all displayable units are done }}
        <tr valign="top">
            <td>
                {{attemptstr}} {{availablestr}}
            </td>
            <td>
                <img src="{{{availableiconurl}}}" />
            </td>
            <td>
            </td>
        </tr>
{{/availables}}
{{#hasstillavailable}}
        <tr valign="top">
            <td colspan="3" class="uq-more-attempts">{{{stillavailablestr}}}</td>
        </tr>
{{/hasstillavailable}}

{{^hasstillavailable}}
{{^availables}}
        <tr>
            <td align="center">
            {{{noavailableattemptsstr}}}
            </td>
        </tr>
{{/availables}}
{{/hasstillavailable}}
{{/limitsenabled}}

    </table>

</div>
<!-- /availableattempts -->
