{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userquiz_monitor/availableattempts

    Template displaying the examination available attempts report.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}
<!-- block_userquiz_monitor/availableattempts -->
<div class="available-attempts-container trans100">

    <div class="userquiz-monitor-history">

{{#hasusedattempts}}

{{#usedattempts}}
        <div class="userquiz-monitor-attempts">
            <table width="100%">
                <tr valign="middle">

                    <td class="exam-history-attempt">
                        {{{attemptsstr}}} {{{finishdate}}}<br/>
                        {{{passingstr}}}
                        <img src="{{{iconurl}}}" />
                    </td>

                    <td class="detail-container">
                        <a href="{{{usedurl}}}">{{{detailbutton}}}</a>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        {{{totalgraph}}}
                    </td>
                </tr>
            </table>
        </div>
{{/usedattempts}}

{{#printellipse}}
        <div class="userquiz-monitor-ellipse">
            <table width="100%">
                <tr valign="top">
                    <td>...</td>
                    <td><img src="{{{ellipseiconurl}}}" /></td>
                    <td></td>
                </tr>
             </table>
         </div>
{{/printellipse}}

{{/hasusedattempts}}

{{^hasusedattempts}}
        <div class="userquiz-monitor-attempts padded">
            <div>{{{nousedattemptsstr}}}</div>
        </div>
{{/hasusedattempts}}

{{^limitsenabled}}
        <div class="userquiz-monitor-attempts padded">
            <table width="100%">
                <tr valign="top">
                    <td align="center">
                        {{attemptstr}} {{availablestr}}
                    </td>
                </tr>
            </table>
        </div>
{{/limitsenabled}}

{{#limitsenabled}}
{{#availables}}
        {{! Loop untill all displayable units are done }}
        <div class="userquiz-monitor-attempts padded">
            <table width="100%">
                <tr valign="top">
                    <td align="center">
                        {{attemptstr}} {{availablestr}}
                    </td>
                </tr>
            </table>
        </div>
{{/availables}}
{{#hasstillavailable}}
        <div class="userquiz-monitor-attempts padded">
            <div class="uq-more-attempts">{{{stillavailablestr}}}</div>
        </div>
{{/hasstillavailable}}

{{^hasstillavailable}}
{{^availables}}
        <div class="userquiz-monitor-attempts padded">
        <table width="100%">
            <tr>
                <td align="center">
                {{{noavailableattemptsstr}}}
                </td>
            </tr>
        </table>
        </div>
{{/availables}}
{{/hasstillavailable}}
{{/limitsenabled}}

    </div>

</div>
<!-- /block_userquiz_monitor/availableattempts -->
