


<div class="trans100 subcategory-cancel" id="divprsubs">
    <table width="100%">
        <tr>
            <td width="50%">
                {{{cb}}}
            </td>
            <td width="50%">
                <span style="float:right;"><img class="userquiz-detail-cancel-icon cb-detail-{{parentcatid}}" id="id-cancel-detail-{{parentcatid}}" src="{{{canceliconurl}}}" /></span>
            </td>
        </tr>
    </table>
</div>
