


<div class="trans100 subcategory-cancel" id="divprsubs">
    <table width="100%">
        <tr>
            <td>
                {{{cb}}}
                <span style="float:right;"><img class="userquiz-icon" id="id-cancel-detail-{{parentcatid}}" src="{{{canceliconurl}}}" /></span>
            </td>
        </tr>
    </table>
</div>
