


<!-- catcheckbox -->
<table>
    <tr>
        <td>
            <input type="checkbox"
                               name="{{name}}"
                               id="{{id}}"
                               class="{{class}}"
                               style="padding-left:2px;" />
{{#selectall}}
            <span class="select-all">{{selectallcbstr}}</span>
{{/selectall}}
        </td>
    </tr>
</table>
<!-- /catcheckbox -->
