


<!-- catcheckbox -->
<div class="category-check">
            <input type="checkbox"
                               name="{{name}}"
                               id="{{id}}"
                               class="{{class}}"
                               style="padding-left:2px;" />
{{#selectall}}
            <span class="select-all">{{selectallcbstr}}</span>
{{/selectall}}
</div>
<!-- /catcheckbox -->
