

<!-- block_userquiz_monitor/catdetailcontainer -->
<div class="tablemonitorcategorycontainer">
    <div class="userquiz-monitor-row" style="display:none">
        <div class="userquiz-monitor-cell">
            <h1>{{{catdetailstr}}}</h1>
        </div>

    </div>
</div>

<div id="displaysubcategories">
</div>
<!-- /block_userquiz_monitor/catdetailcontainer -->
