


<div class="trans100" id="id-div-main-{{cat->id}}">
    <div class="userquiz-monitor-categorycontainer">

        <div class="userquiz-monitor-row">
            <div class="userquiz-monitor-cell categoryname">
                {{name}}
            </div>
        </div>

        <div class="userquiz-monitor-row">
            <div class="userquiz-monitor-cell">
                {{{buttons}}}
            </div>

            <div class="userquiz-monitor-cell"></div>

            <div class="userquiz-monitor-cell" style="text-align:center;">
                 <div class="userquiz-monitor-cell details-button" id="id-details-button-{{catid}}">
                    <label for="radio-main-item-{{catid}}">
{{#pixurl}}
                        <img class="userquiz-monitor-cat-button"
                              title="{{seesubsstr}}"
                              src="{{{pixurl}}}"/>
{{/pixurl}}
{{^pixurl}}
                        <div id="details-button-div-{{catid}}" class="userquiz-monitor-cat-button">{{seesubsstr}}</div>
{{/pixurl}}
                    </label>
               </div>
            </div>
        </div>

        <div class="category-bargraph">
            <table width="100%">
                {{{barheadrow}}}
                {{{barrangerowA}}}
                {{{barrangerowC}}}
            </table>
        </div>

    </div>
</div>
