

<!-- globalprogress -->
<div class="userquiz-monitor-row">
    <div class="userquiz-monitor-cell span6 md-col-6">
</div>

{{#dualserie}}
<div class="userquiz-monitor-cell span3 md-col-3">
{{levelstr}}
</div>
{{/dualserie}}

<div class="userquiz-monitor-cell span3 md-col-3">
{{ratiostr}}
</div>

<table width="100%">
    {{{barrangerowA}}}
    {{{barrangerowC}}}
</table>
<!-- /globalprogress -->
