


<tr valign="middle">
{{#dualserie}}
    <td class="userquiz-monitor-bg" style="text-align:center;">
        {{{level1str}}}
    </td>
{{/dualserie}}
    <td class="userquiz-monitor-bg" style="text-align:center;">
        {{{scorestr}}}
    </td>

    <td class="userquiz-monitor-bg" style="text-align:center;">
        {{{ratio1str}}}
    </td>
</tr>
