

<!-- panelheader -->
<div>
    <div class="userquiz-monitor-row">
        <div id="program-heading" class="userquiz-monitor-cell is-exam span12 md-col-12">
            {{{heading}}}
        </div>
    </div>
</div>
<!-- /panelheader -->
