


<!-- progressbarhtml -->
<div class="html-gauge-container" style="width: {{boxwidth}}; height: {{boxheight}}">
    <div class="html-gauge-value-label {{{skin}}}">
        {{successrate}} %
    </div>

    <table width="100%" class="html-gauge">
        <tr>
            <td class="html-gauge-valuebar {{{skin}}}" style="background-color: {{{barcolor}}}" width="{{successrate}}%">
            </td>

            <td class="html-gauge-remainbar {{{skin}}}" width="{{remains}}%">
            </td>
        </tr>
    </table>
    <div class="html-gauge-targetvalue-label {{{skin}}}" style="color: {{barcolor}};left: {{stop}}%">
        {{stop}} %
    </div>
    <div class="html-gauge-targetvalue-mark {{{skin}}}" style="background-color: {{barcolor}};left: {{stop}}%"></div>
</div>
<!-- /progressbarhtml -->
