


<!-- programheadline -->
<div id="userquiz-monitor-program-headline">
    <div class="userquiz-monitor-main-item">
        <div class="userquiz-monitor-row" style="height:17px">
            <div class="userquiz-monitor-cell">
                <h1>{{{catstr}}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="trans100">
    <div class="userquiz-monitor-main-item" id="userquiz-select-all">
        <div class="userquiz-monitor-row">
            <div class="userquiz-monitor-cell">
                <input type="checkbox"
                        name="checkallmaster"
                        id="checkall-master"
                        style="padding-left:2px;"/>
                <span class="select-all">{{{selectallcbstr}}}</span>
            </div>
        </div>
    </div>
</div>
<!-- /programheadline -->
