

<!-- questionreferences -->
{{#questionrefs}}
<div class="qref">
    <span class="qinfo-label">{{{questionreferencestr}}}:&ensp;</span>
    <span class="qinfo-value">{{{qname}}}</span>
</div>
<div class="qcat">
    <span class="qinfo-label">{{{questioncategorystr}}}:&ensp;</span>
    <span class="qinfo-value">{{{qcatname}}}</span>
</div>
{{/questionrefs}}
<!-- /questionreferences -->
