


    <tr valign="middle">

{{#dualserie}}
        <td class="userquiz-cat-total">
            <img class="userquiz-cat-image" src="{{{serieiconurl}}}" />
        </td>
{{/dualserie}}

        <td class="userquiz-cat-progress" style="text-align:center;">
            {{{progressbar}}}
        </td>

        <td class="userquiz-cat-total">
            <h4>{{{catcounter}}}</h4>
        </td>
    </tr>
