

<!-- subcategories -->
<div class="trans100" id="div-detail-{{catid}}" >
{{{cancelrow}}}

{{#subcategories}}
<div class="userquiz-monitor-categorycontainer">

<div class="userquiz-monitor-row">
<div class="userquiz-monitor-cell categorychoice">{{{cb}}}</div>
<div class="userquiz-monitor-cell categoryname"><label for="{{radioid}}">{{name}}</label></div>
</div>

<div class="category-bargraph">
<table width="100%">
{{{barheadrow}}}
{{{barrangerowA}}}
{{{barrangerowC}}}
</table>
</div>

</div>
{{/subcategories}}
</div>
<!-- /subcategories -->
