{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userquiz_monitor/training

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}
<!-- block_userquiz_monitor/training -->
<div id="userquiz-subpod-switch"></div>

<form name="form" method="GET" action="{{{formurl}}}">

<input type="hidden" name="blockid" value="{{blockid}}">

{{{globalmonitor}}}

<div class="userquiz-monitor-trainingcontainer container-fluid">

    {{#errors}}
    {{{initerrorstr}}}
    {{{compileerrorstr}}}
    {{/errors}}

    {{^errors}}

    <div class="userquiz-monitor-container-row row-fluid">
        <div class="userquiz-monitor-area">

            {{{programheadline}}}

            {{#categoryresults}}
            {{{result}}}
            {{/categoryresults}}

            <div id="rootcatnotes">
                {{{note1}}}
                {{{note2}}}
            </div>

        </div>
    </div>

    {{/errors}}

</div>

</form>

<!-- /block_userquiz_monitor/training -->
