

<!-- trainingsecondlaunchbutton -->
<div class="userquiz-monitor-bottom-launch">
    <div class="userquiz-monitor-row">
        <div class="userquiz-monitor-cell span12">
            <div class="selectorcontainers trans100" style="width:100%; font-size : 120%;">
                {{{selector}}}
            </div>
        </div>
    </div>
</div>
<!-- /trainingsecondlaunchbutton -->
