


<!-- trainingglobalmonitor -->
<div style="width: 100%">
    <div class="userquiz-monitor--row">
        <div class="userquiz-monitor-cell userquiz-cat-progress span9">
            <h1>{{totalstr}} {{{totalhelpicon}}}</h1>

            <div class="total">
                {{{total}}}
            </div>
         </div>

        <div class="userquiz-monitor-cell span3">
            <h1>{{runteststr}} {{{runtesthelpicon}}}</h1>

            <div id="userquiz-training-selector" class="selectorcontainers trans100">
                {{{selector}}}
            </div>
        </div>
    </div>
</div>
<!-- /trainingglobalmonitor -->
