


<div>
    <div class="userquiz-monitor-row">

        <div id="program-heading" class="userquiz-monitor-cell span5 md-col-5">
            {{{trainingheading}}}
        </div>

        <div class="userquiz-monitor-cell span7 md-col-7" style="text-align:right">
             {{{filterform}}}
        </div>

    </div>
</div>