{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userquiz_monitor/trainingglobalmonitor

    Template displaying the global totalizer in training mode.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}
<!-- userquiz_monitor/trainingglobalmonitor -->
<div style="width: 100%">
    <div class="userquiz-monitor--row">
        <div class="userquiz-monitor-cell userquiz-cat-progress span9">
            <h1>{{totalstr}} {{{totalhelpicon}}}</h1>

            <div class="total">
                {{{total}}}
            </div>
         </div>

        <div class="userquiz-monitor-cell span3">
            <h1>{{runteststr}} {{{runtesthelpicon}}}</h1>

            <div id="userquiz-training-selector" class="selectorcontainers trans100">
                {{{selector}}}
            </div>
        </div>
    </div>
</div>
<!-- /userquiz_monitor/trainingglobalmonitor -->
