{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userquiz_monitor/traininglaunchgui

    Template displaying the training launcher.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}
<!-- block_userquiz_monitor/traininglaunchgui -->
<div class="userquiz-monitor-categorycontainer">

    <div class="userquiz-monitor-row">
        <div class="userquiz-monitor-cell">
            <p>{{#str}}runtraininghelp, block_userquiz_monitor{{/str}}</p>
        </div>
    </div>

{{#quizlist}}
    <div class="userquiz-monitor-row">
        <div class="userquiz-monitor-cell">
            {{#str}}numberquestions, block_userquiz_monitor{{/str}}
            <select class="selectorsnbquestions" id="id-selector-nb-questions" name="selectornbquestions" size="1">
                {{{options}}}
            </select>
        </div>
    </div>
{{/quizlist}}

    <div class="userquiz-monitor-row">
        <div class="userquiz-monitor-cell">
             <input type="hidden" name="mode" value="test" />
             <input type="hidden" name="courseid" value="{{courseid}}" />
{{#quizlist}}
             <input type="hidden" name="quizlist" value="{{quizlist}}" />
{{/quizlist}}
             <input type="submit" id="id-training-go-button" class="enabled" value="{{#str}}runtest, block_userquiz_monitor{{/str}}" id="submit" {{{disabled}}} />
         </div>
     </div>
</div>
<!-- /block_userquiz_monitor/traininglaunchgui -->

