/* This CSS stylesheet defines styles used by required elements in a flex application page that supports browser history */

#ie_historyFrame {
    display:none
    height: 0;
    width: 0;
}
#firefox_anchorDiv {
    display:none
    height: 0;
    width: 0;
}
#safari_formDiv {
    display:none
    height: 0;
    width: 0;
}
#safari_rememberDiv {
    display:none
    height: 0;
    width: 0;
}
